block content
  ul.unstyled
    if searchresults.length > 0
      each searchresult in searchresults
        li
          | #{searchresult.Title} by #{searchresult.Artist} 
          a.pull-right(href="javascript:dispatchCommand('add', { URI: '#{searchresult.file}' })")
            | add to playlist
    else
      li
        |No results found.
